*{

text-shadow: none !important;

-webkit-box-shadow: none !important;

-webkit-border-radius:0!important;

-webkit-border-top-left-radius:0!important;

-webkit-border-bottom-left-radius:0!important;

-webkit-border-bottom-right-radius:0!important;

-webkit-border-top-right-radius:0!important;

}